<h2 align='center'>ผลการก้าวหน้าทำเว็บ</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ลำดับ</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {% for main  in mains %}
    <tr>
      <th scope="row">{{main.id}}</th>
      <td>{{main.ชื่อ}}</td>
      <td>{{main.นามสกุล}}</td>
      <td>{{main.วันที่}}</td>
      <td>{{main.เวลา}}</td>
      
    </tr>
    {% endfor %}

    
  </tbody>
</table>