<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 align='center'>กรุณารูดบัตรประชาชน</h2>
    
    {% for message in messages %}
        <h2>{{message}}</h2>

    {% endfor %}
    <form action="login" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" name="username">
            

        </div>
        
        
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password">
            

        </div>
       
        <input type="submit" value="เข้าใช้งาน" class="btn btn-primary"> 

    </form>
</body>
</html>